.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    }
.container{
    border-color: black;
    border: 2cm;
    background-color: #B784B7;
    width: 700px;
}
h2{
    text-align: center;
}
body{
    background-color: #FEFBF6;
}